<!DOCTYPE html>
<html lang="es">
<head>
    <title>ON TOY</title>
    <meta charset="utf-8" /> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge" lang="es">
    <meta name="description" content="App para hacer un dinero bien chingon en confetti y Q12 " />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="chispitas,confetti,da dinero, ratero"/>
    <meta name="author" content="Pilaba"/>
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <meta name="google-site-verification" content="">
    <meta property="og:title" content="Chispitas-Cheat">
    <meta property="og:image" content="https://i.ibb.co/F35fzyZ/logo-largo.png">
    <meta property="og:site_name" content="Chispitas">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="" />
    <base href="" />

    <!-- Google charts, boostrap 3, JQuery, SocketIO -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript">
        google.charts.load("current", {packages:["corechart"]});
        google.charts.setOnLoadCallback(chartLoaded);
        function chartLoaded(){
            drawGrafica()
        }

        function drawGrafica(){
            var data = google.visualization.arrayToDataTable([
                ['Respuestas', 'Cantidad'],
                [app.respuestas[0], app.graficaData[0]],
                [app.respuestas[1], app.graficaData[1]],
                [app.respuestas[2], app.graficaData[2]]
            ]);

            //Determinar mayor para hacer slice
            let maxIndex =  app.graficaData.indexOf(Math.max(...app.graficaData));
            let obj = {}; obj[maxIndex] = {offset: 0.1};

            var options = {
                title: 'GOOGLE y BING sugieren que:',
                is3D:true, 
                colors:['#10971e', '#000000', '#ff0000'],
                pieSliceText: 'label',
                chartArea:{left:10, top:10, bottom: 10, right: 10, width:"100%", height:"100%"},
                legend: {position :"left", alignment : "center", textStyle: {fontSize: 16, bold : true}},
                slices: obj
            };

            var chart = new google.visualization.PieChart(document.getElementById('Grafica'));
            chart.draw(data, options);
        }
    </script>

</head>
<body>  
    <br>
    <div class="container" id="app">
      <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href=""><img src="https://i.ibb.co/8MHFC4t/chispitas-logo.png" width="150" class="img-responsive"></a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href=""><i class="fa fa-smile-o" aria-hidden="true"></i>&nbsp;Herramienta</a></li>
              <li><a href="https://github.com/Pilaba/Chispitas-Cheat" target="_blank"><i class="fa fa-github" aria-hidden="true"></i>&nbsp;Repo</a></li>
              <li><a href="#"><i class="fa fa-cogs" aria-hidden="true"></i>&nbsp;Ajustes</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-coffee" aria-hidden="true"></i>&nbsp;Backend <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#"><i class="fa fa-cutlery" aria-hidden="true"></i>&nbsp;Corridas</a></li>
                  <li><a href="#"><i class="fa fa-pie-chart" aria-hidden="true"></i>&nbsp;Estadísticas</a></li>
                   <li role="separator" class="divider"></li>
                   <li><a href="#"><i class="fa fa-question-circle" aria-hidden="true"></i>&nbsp;Documentación</a></li>
                </ul>
              </li>
              <li><a href="#" data-toggle="collapse" data-target="#pruebaForm"><i class="fa fa-paste" aria-hidden="true" ></i>&nbsp;Pruebas</a></li>
              <li><a href="#"><i class="fa fa-clock-o text-success" aria-hidden="true"></i>&nbsp;{{ TIME }} s</a></li>
              <li><a href="#"><i class="fa fa-line-chart text-success" aria-hidden="true">
                  </i>&nbsp;{{ linksParseados }}</a>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

        <div class="row collapse" id="pruebaForm">
            <div class="col-md-12">
                <input type="text" v-model="pregunta" style='width:30em'>
                <input type="text" v-model="respuestas[0]">
                <input type="text" v-model="respuestas[1]">
                <input type="text" v-model="respuestas[2]">
                <button type="submit" v-on:click="submitPrueba"  class="btn btn-primary"> GO! </button>
            </div>
        </div>

        <div class="row" >
            <div class="col-md-6">
                <h2 class="btn btn-default btn-flat" style="width: 100%; font-size: large; white-space:normal !important; word-wrap: break-word;">
                    {{ pregunta }}
                </h2>
                <div id="Grafica" class="col-md-12" style="height: 280px;"></div>
               
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="color: green">{{ respuestas[0] }}</th>
                                <th style="color: black">{{ respuestas[1] }}</th>
                                <th style="color: red">{{ respuestas[2] }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td v-for="(array, index) in eachWord" v-bind:class="resaltarTablaIndex == index ? 'alert alert-info' : ''">
                                    <table class="table table-bordered">
                                        <tbody v-for="item in array" >
                                            <tr>
                                                <td>{{ item.word }}</td>
                                                <td>{{ item.count }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12" v-html="googleHeaderHTML"> </div>
            </div>

            
            <div class="col-md-6">
                <div class="col-md-9" style="padding: 20px">
                    <label><i class="fa fa-search-plus" aria-hidden="true"></i>&nbsp;Búsqueda personalizada </label>
                    <input v-model="REquestion" v-on:keyup.enter="submit" type="text" class="col-md-12 form-control">
                </div>
                <div class="col-md-3" style="padding: 20px"> <br>
                    <button v-on:click="submit" type="button" class="col-md-12 form-control btn-success">
                        <i class="fa fa-search" aria-hidden="true"></i> GO!
                    </button>
                </div>

                <script>
                    (function() {
                      var cx = '001129582380055340761:tkxrmpvv4re';
                      var gcse = document.createElement('script');
                      gcse.type = 'text/javascript';
                      gcse.async = true;
                      gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                      var s = document.getElementsByTagName('script')[0];
                      s.parentNode.insertBefore(gcse, s);
                    })();
                </script>
                <gcse:searchresults-only gname="search" webSearchResultSetSize="3"></gcse:searchresults-only>
            </div>
        </div>

    </div> <!-- /container -->

</body>
<footer class="footer">
    <div class="container">
        <hr>
        <p>Company, Inc. &copy; 2019 &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a> <span class="pull-right"><i class="fa fa-terminal" aria-hidden="true"></i>&nbsp;<a href="https://bleutecmedia.com/member/i-f-baldemar-alejandres-garcia/" target="_blank">Author</a> | <a href="https://bleutecmedia.com/member/rigoberto-alejandres-garcia/" target="_blank">Colaborador</a></span></p>
    </div>

    <script>
        //Vuejs initializacion
        var app = new Vue({
            el: '#app',
            data: {
                TIME: 1.52, socket :{}, pregunta: "¿Cual de estos manes NO es futbolista?", 
                respuestas: ['Messi', 'Hulk', 'Fernando Alonso'],  REquestion: '',
                itemsBusqueda: [
                    {link: "https://taringa.net", htmlTitle: "Messi el hormonado", p: {A:90, B:5, C:5}}
                ], 
                eachWord: [ [{word: "Messi", count : "20"}], [{word: "Hulk", count : "8"}], 
                            [{word: "Fernando", count : "2"}, {word: "alonso", count : "1"}] ],
                graficaData: [20, 8, 3],
                googleHeaderHTML : '<p>Rey del afano, pibe chorro, pirata del asfalto</p>',
                linksParseados: 0
            },
            created: function () {
                this.socket = io.connect();
                this.socket.on('T', this.onTime)
                this.socket.on('Q', this.onQuestion)
                this.socket.on('Grafica', this.onGrafica)
                this.socket.on('EachWordSeach', this.onEachWordSeach)
                this.socket.on('googleHeader', this.onGoogleHeader)
            },
            methods: {
                onTime: function(timeMillis){
                    this.TIME = timeMillis
                },
                onQuestion: function(data){
                    //reset data
                    this.graficaData = [0, 0, 0]
                    this.eachWord = [[{}], [{}], [{}]]
                    this.eachWord = ""
                    this.linksParseados = 0

                    this.pregunta = data.pregunta
                    this.respuestas = data.respuestas
                    this.itemsBusqueda = data.items

                    google.search.cse.element.getElement("search").execute(this.pregunta)
                },
                onGrafica: function(data){
                    this.linksParseados++ 
                    this.graficaData = this.graficaData.map((item, i) => {
                        return item + data.array[i]
                    })
                    drawGrafica()
                },
                onGoogleHeader: function(data) {
                    this.googleHeaderHTML = data.htmlHeader
                },
                onEachWordSeach: function(data){
                    this.eachWord = data.matriz
                },
                submit: function(event){
                    //Reset data
                    this.eachWord = ""
                    this.linksParseados = 0

                    this.socket.emit("REquestion", {q: this.REquestion, id: this.socket.id })
                },
                submitPrueba: function(data){
                    this.socket.emit("Pruebas", {q: this.pregunta, respuestas: this.respuestas, id: this.socket.id })
                }
            },
            computed: {
                resaltarTablaIndex: function(){
                    let sumas = []
                    this.eachWord.forEach((arrr, index) =>  {
                        let count = 1
                        arrr.forEach(el => count *= parseInt(el.count))

                        sumas[index] = (count / arrr.length)
                    })

                    if(Math.max(...sumas) == 0){
                        this.eachWord.forEach((arrr, index) =>  {
                            let count = 0
                            arrr.forEach(el => count += parseInt(el.count))

                            sumas[index] = (count / arrr.length)
                        })
                    }

                    return sumas.indexOf(Math.max(...sumas))
                }
            }
        });

    </script>

    <!-- ON TOY -->
</footer>
</html>